@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.6s ease-in-out;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    position: absolute;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::selection{
  background: rgb(0,123,255,0.3);
  color: #fff;
}

.box {
    width: 100%;
    min-height: 100vh;
    background: url(../img/img.png) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.box .navbar1 {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.box .navbar1 ul {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.box .navbar1 ul li {
    padding: 20px;
}


.box .navbar1 ul li a {
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 20px;
}

.box .navbar1 ul li a:hover {
	color:#FF4D01;
}

.box .navbar1 button {
    display: inline-block;
    width: 130px;
    height: 50px;
	border-radius: 0.5rem;
	font-size: 17px;
	background: #FF4D01;
	color: #fff;
	border: 1px solid #FF4D01;
    margin-top: 10px;
	transition: all .40s ease;
}

.box .navbar1 button:hover {
	transform: scale(1.01) translateY(-5px);
	background: transparent;
	border: 1px solid #FF4D01;
}

.box .card {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.box .card .card-title {
    color: #fff;
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
}

.box .card .card-text {
    color: #fff;
    text-align: center;
}

.box .card .btn1 {
    width: 170px;
    height: 70px;
    border-radius: 0.5rem;
	font-size: 17px;
	background: #FF4D01;
    margin-left: 20%;
    text-align: center;
	color: #fff;
	border: 1px solid #FF4D01;
    margin-top: 10px;
	transition: all .40s ease;
}

.box .card .btn1:hover {
	transform: scale(1.01) translateY(-5px);
	background: transparent;
	border: 1px solid #FF4D01;
}

.box .card .btn2 {
    width: 170px;
    height: 70px;
    border-radius: 0.5rem;
    text-align: center;
    margin-left: 10%;
	font-size: 17px;
    background: transparent;
	color: #fff;
	border: 1px solid #FF4D01;
    margin-top: 10px;
	transition: all .40s ease;
}

.box .card .btn2:hover {
	transform: scale(1.01) translateY(-5px);
	background: #FF4D01;
	border: 1px solid #FF4D01;
}

.box1 {
    width: 100%;
    min-height: 100vh;
}

.box1 .card {
    border: none;
    position: absolute;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    margin-left: 20%;
}

.box1 .card .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 .card .card-text1 {
    color: #FF4D01;
    font-weight: 400;
    text-transform: uppercase;
}

.box1 .card .card-title {
    color: #000;
    font-weight: 500;
    font-size: 50px;
}

.box1 .card .card-text  {
    color: #605E5D;
    font-weight: 400;
    font-size: 0.8rem;
}

.box1 .card .text {
    display: flex;
}

.box1 .card .text .card-text2 {
    font-size: 70px;
    font-weight: 300;
    margin-left: 50px;
}

.box1 .card .text .card-text2 span {
    color: #FF4D01;
}

.box1 .card .text .card-title2 {
    margin-left: 5%;
    position: absolute;
    color: #605E5D;
    font-size: 0.8rem;
}

.box1 .card .btn1 {
    width: 235px;
    height: 75px;
    border-radius: 0.5rem;
	font-size: 17px;
    background: transparent;
	color: #FF4D01;
	border: 1px solid #FF4D01;
    margin-top: 10px;
	transition: all .40s ease;
}

.box1 .card .btn1:hover {
	transform: scale(1.01) translateY(-5px);
    color: #fff;
	background: #FF4D01;
	border: 1px solid #FF4D01;
}

.box2 {
    width: 100%;
    min-height: 100vh;
}

.box2 .card {
    border: none;
    background: none;
    margin: 20px;
    padding: 40px 10%;
}

.box2 .card .card-text1 {
    color: #FF4D01;
    font-size: 20px;
    font-weight: 400;
}

.box2 .card .card-title {
    color: #000;
    font-size: 50px;
    font-weight: 400;
}

.box2 .card .btn1 {
    position: absolute;
    width: 170px;
    height: 70px;
    border-radius: 0.5rem;
	font-size: 17px;
    background: #FF4D01;
    margin-top: 20px;
    margin-left: 10px;
	color: #fff;
	border: 1px solid #FF4D01;
    margin-top: 10px;
	transition: all .40s ease;
}

.box2 .card .btn1:hover {
	transform: scale(1.01) translateY(-5px);
    color: #FF4D01;
	background: transparent;
	border: 1px solid #FF4D01;
}

.box2 .card .btn2 {
    position: absolute;
    width: 170px;
    height: 70px;
    border-radius: 0.5rem;
	font-size: 17px;
    background: transparent;
    margin-left: 280px;
    margin-top: 50px;
	color: #FF4D01;
	border: 1px solid #FF4D01;
    margin-top: 10px;
	transition: all .40s ease;
}

.box2 .card .btn2:hover {
	transform: scale(1.01) translateY(-5px);
    color: #fff;
	background: #FF4D01;
	border: 1px solid #FF4D01;
}

.box2 .card-group {
    margin-left: 60px;
}

.box2 .card-group .card {
    border: none;
    background: none;
    margin: 20px;
    padding: 25px;
}

.box2 .card-group .img-fluid {
    width: 70px;
    height: 60px;
    margin-left: 20px;
}

.box2 .card-group .card-title {
    font-size: 30px;
    font-weight: 400;
}

.box2 .card-group .card-text {
    font-size: 15px;
    font-weight: 200;
}

.box2 .card-group .card .div {
    display: flex;
    justify-content: start;
}

.box2 .card-group .div .bl {
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 8px;
}

.box2 .card-group .div .ack {
    margin-left: 10px;
}

.box3 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/img8.png) no-repeat center center;
    background-size: 100%;
}

.box3 .card {
    background: none;
    border: none;
    position: absolute;
    margin-left: -40%;
}

.box3 .card .card-title {
    color: #000;
    font-size: 55px;
    font-weight: 400;
}

.box3 .card .card-text {
    color: #605E5D;
    font-size: 15px;
    font-weight: 200;
}

.box3 .card .btn1 {
    position: absolute;
    width: 170px;
    height: 70px;
    border-radius: 0.5rem;
	font-size: 17px;
    background: #FF4D01;
    margin-top: 20px;
    margin-left: 10px;
	color: #fff;
	border: 1px solid #FF4D01;
    margin-top: 10px;
	transition: all .40s ease;
}

.box3 .card .btn1:hover {
	transform: scale(1.01) translateY(-5px);
    color: #FF4D01;
	background: transparent;
	border: 1px solid #FF4D01;
}

.box3 .card .btn2 {
    position: absolute;
    width: 170px;
    height: 70px;
    border-radius: 0.5rem;
	font-size: 17px;
    background: transparent;
    margin-left: 220px;
    margin-top: 50px;
	color: #FF4D01;
	border: 1px solid #FF4D01;
    margin-top: 10px;
	transition: all .40s ease;
}

.box3 .card .btn2:hover {
	transform: scale(1.01) translateY(-5px);
    color: #fff;
	background: #FF4D01;
	border: 1px solid #FF4D01;
}

.box4 {
    width: 100%;
    min-height: 100vh;
}

.box4 .img-fluid1 {
    position: absolute;
    margin-top: -95px;
    margin-left: 350px;
}

.box4 .card {
    background: none;
    border: none;
}

.box4 .container {
    position: absolute;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    left: 55%;
    top: 480%;
}

.box4 .card .card-text1 {
    color: #FF4D01;
    font-size: 15px;
}

.box4 .card .card-title {
    font-size: 50px;
    font-weight: 400;
}

.box4 .card .card-text {
    font-size: 0.8rem;
    font-weight: 200;
    color: #605E5D;
}

.box4 .card .text .text1 {
    display: flex;
}

.box4 .card .text1 img {
    width: 20px;
    height: 20px;
}

.box4 .col-md-4 img {
    width: 535px;
    height: 535px;
}

.box4 .col-md-8 {
    position: absolute;
    margin-left: 35%;
}

.box5 {
    width: 100%;
    min-height: 100vh;
}

.box5 .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5 .card {
    border: none;
    background: none;
}

.box5 .card .card-text1 {
    color: #FF4D01;
    font-size: 15px;
}

.box5 .card .card-title {
    font-size: 50px;
    font-weight: 400;
}

.box5 .card .card-text {
    font-size: 0.8rem;
    font-weight: 200;
    color: #605E5D;
}

.box5 .text {
    display: flex;
    text-align: start;
}

.box5 .text .text1 p span {
    color: #FF4D01;
    font-size: 35px;
}

.box5 .text .text1 p {
    color: #000;
    font-size: 40px;
}

.box5 .text .text1 small {
    color: #605E5D;
    font-size: 15px;
}

.box5 .col-md-4 img {
    width: 535px;
    height: 535px;
}

.box6 .card {
    border: none;
    background: none;
}

.box6 .card .card-text1 {
    color: #FF4D01;
    font-size: 15px;
}

.box6 .card .card-title {
    font-size: 40px;
    font-weight: 400;
}

.box6 .card .btn1 {
    position: absolute;
    width: 170px;
    height: 70px;
    border-radius: 0.5rem;
	font-size: 17px;
    background: #FF4D01;
    margin-left: 10px;
	color: #fff;
	border: 1px solid #FF4D01;
    margin-top: 10px;
	transition: all .40s ease;
}

.box6 .card .btn1:hover {
	transform: scale(1.01) translateY(-5px);
    color: #FF4D01;
	background: transparent;
	border: 1px solid #FF4D01;
}

.box6 .card .btn2 {
    position: absolute;
    width: 170px;
    height: 70px;
    border-radius: 0.5rem;
	font-size: 17px;
    background: transparent;
    margin-left: 220px;
	color: #FF4D01;
	border: 1px solid #FF4D01;
    margin-top: 10px;
	transition: all .40s ease;
}

.box6 .card .btn2:hover {
	transform: scale(1.01) translateY(-5px);
    color: #fff;
	background: #FF4D01;
	border: 1px solid #FF4D01;
}

.box6 .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box7 {
    width: 100%;
    height: 100vh;
}

.box7 .card {
    border: none;
    width: 545px;
    height: 615px;
    margin-top: 15%;
    margin-left: 10%;
    border-radius: 20px;
}

.box7 .card.card1 {
    background: url(../img/img12.png);
}

.box7 .card.card2 {
    background: url(../img/img13.png);
}

.box7 .card .card-body {
    position: absolute;
    margin-top: 50%;
    color: #fff;
}

.box7 .card .card-title {
    color: #fff;
    font-size: 30px;
    font-weight: 200;
}

.box7 .card .card-text {
    color: #fff;
    font-size: 15px;
}

.box8 .card {
    border: none;
    background: none;
}

.box8 .card .card-text1 {
    color: #FF4D01;
    font-size: 15px;
}

.box8 .card .card-title {
    font-size: 40px;
    font-weight: 400;
}

.box9 .card {
    border: none;
    background: none;
    margin-top: 8%;
}

.box9 .card .img-fluid {
    width: 340px;
    height: 320px;
}

.box9 .card .card-title {
    font-size: 30px;
}

.box9 .card .card-text {
    font-size: 15px;
    color: #989899;
}

.box10 {
    width: 100%;
    height: 100vh;
}

.box10 .card {
    border: none;
    background: none;
    margin: 20px;
}

.box10 .text {
    margin-top: 10%;
}

.box10 .text .card-title {
    margin-top: 10%;
}

.box10 .img-fluid {
    border-radius: 20px;
}

.box11 {
    width: 100%;
    height: 70vh;
    margin-top: 20%;
    background: #000;
}

.box11 .row1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box11 .card {
    border: none;
    background: none;
    margin-top: 10%;
}

.box11 .card .card-title {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.box11 .card .text {
    display: flex;
    justify-content: space-around;
}

.box11 .card .text .col2 {
    width: 35px;
    height: 35px;
    background: #FF4D01;
    border-radius: 0.25rem;
    margin-top: 5%;
    margin-left: -5%;
}

.box11 .card .card-text {
    color: #EAEAEB;
    font-size: 15px;
    font-weight: 400;
}

.box11 .card .text1 {
    display: flex;
    border: 1px solid #FF4D01;
    border-radius: 0.25rem;
    padding: 10px;
    margin: 20px 0;
}

.box11 .card .text1 .img {
    margin-top: 10px;
    margin-left: 15px;
}

.box11 .card .text1 .text2 p{
    margin-left: 15px;
    margin-top: 10px;
    color: #989899;
    font-size: 15px;
}

.box11 .row2 {
    display: flex;
    justify-content: space-around;
}

.box11 .row2 .text p {
    position: absolute;
    color: #989899;
    font-size: 15px;
    margin-top: 10%;
    margin-left: -20%;
    font-weight: 200;
}

.box11 .row2 .text1 p {
    position: absolute;
    color: #989899;
    font-size: 15px;
    margin-top: 10%;
    font-weight: 200;
}

.box11 .row2 .text1 p span {
    color: #FF4D01;
}